.obalkarty{
    width: 350px;
    height: 420px;
    border-radius: 28px;
    background-color: #00152B

}
.mainimage{
    width: 155px;
    height: 155px;
}

.text{
    color: #334455;
}

.nametext{
    color: #334455;
}