.relative {
    position: relative;
    right: 27vw;
}

.text {
    position: absolute;
    z-index: 9999;
    background-color: #00152B;
    color: white;
    text-shadow: 0 0 10px #fff;
    width: 393px;
    height: 159px;
}

.obrazek {
    width: 387px;
    height: 372px;
    display: flex;
    margin-right: 50vw;
    position: absolute;
    z-index: 1;
}

.core {
    position: absolute;
    top: 80px;
    left: 250px;
    z-index: 2;

}

.nadpis {
    font-weight: bold;
    padding: 3px;

}