.greenGlow{
    position: absolute;
    box-shadow: 0 0 2000px 300px #2db47c;
    border-radius: 50%;
    background-color: #2db47c;
    top: -280px;
    right: -60px;
    width: 100px;
    height: 20px;
    z-index: -1;
}