.linksSection ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.linksSection{
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .linksSection {
        display: flex;
        justify-content: flex-start;
    }

    .linksSection ul {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .linksSection button {
        font-size: 25px;
    }

    .linksSection a {
        font-size: 20px;
    }
}