.button {
    all: unset;
    cursor: pointer;
    color: var(--textColor);
    display: grid;
    place-content: center;
    border: 2px solid var(--textColor);
    background-color: var(--backgroundColor);
    border-radius: 5px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    aspect-ratio: 1/1;
}