.zpetnaVazba{
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    z-index: 10;
    overflow: hidden;
    max-height: 35px;
    transition: max-height 0.5s ease-in-out;
}

.zpetnaVazba p, .zpetnaVazba a{
    background-color: #fd0061;
    text-align: center;
    padding: 8px 0;
    font-weight: 500;
    font-size: 16px;
}

.zpetnaVazba a{
    color: #2ca0f5;
    font-weight: 1000;
    text-decoration: none;
    background-color: transparent;
}

.zpetnaVazba button{
    background-color: transparent;
    border: none;
    top: 5px;
    border-bottom: 0;
    position: absolute;
    right: 20px ;
}

.zpetnaVazba svg{
    background-color: transparent;
}

.hidden {
    max-height: 0;
}
