.rightSide {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex: 1;
    padding-left: 20px;
}

@media only screen and (max-width: 900px) {
    .rightSide {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: fit-content;
        padding: 0;
    }

    .mobileMenu {
        top: 0;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        flex-direction: column-reverse;
        gap: 10px;
        display: flex;
        background: #001c48;
        background: rgba(0, 28, 72, 0.7);
        font-weight: 1000;
    }

    .open {
        max-height: 100vh;
    }

    .toggleButton {
        background-color: var(--textColor);
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    .menuItems {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .menuItems a {
        color: var(--backgroundColor);
        text-decoration: none;
        margin-bottom: 10px;
    }
}