.containerHamburgerIcon {
    position: absolute;
    top: 20px;
    display: none;
    right: 20px;
}

.menu_icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2px 0;
}

.menu_icon span {
    position: absolute;
    display: block;
    height: 5px; /* Adjusted size */
    width: 35px; /* Adjusted size */
    background-color: var(--textColor);
    transform: rotate(0);
    transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/* Positioning of individual lines */
.one {
    top: 0;
}

.two {
    top: 14px; /* Adjusted position */
}

.three {
    top: 28px; /* Adjusted position */
}

/* Animation when clicked */
.clicked .one {
    transform: translateY(14px) rotate(45deg); /* Adjusted position */
}

.clicked .two {
    opacity: 0;
}

.clicked .three {
    transform: translateY(-14px) rotate(-45deg); /* Adjusted position */
}


@media only screen and (max-width: 900px) {
    .containerHamburgerIcon {
        display: inline-block;
    }
}