.logoSection .img {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 0 20px #2db47c);
}

@media only screen and (max-width: 900px) {
    .logoSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0 20px;
    }
    .logoSection img {
        max-width: 55vw;
    }
}