.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    transition: color 0.4s ease-in;
}

@media (max-width: 1100px) {
    .main {
        padding: 2rem;
        margin-top: 100px;
    }
}