.section {
    height: 60vh;
    padding: 20px 20% 20px 20px;
    width: 80vw;
    font-size: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    margin-bottom: 200px;
}

.section h1 {
    font-size: 7vw;
    margin: 0 auto;
}

.section strong {
    color: #2DB47C;
}

.section strong span {
    color: #2480BD;
}

.section img {
    right: -550px;
    bottom: -450px;
    position: absolute;
    height: 1000px;
    aspect-ratio: 1/1;
    background-color: transparent;
    z-index: -1;
}

@media only screen and (max-width: 1100px) and (min-width: 900px) {
    .section {
        width: 100vw;
    }
}

@media only screen and (max-width: 900px) {
    .section h1 {
        font-size: 50px;
        text-align: center;
        margin: 0 auto;
    }

    .linearGradientBorder {
        display: none;
    }

    .section {
        padding: 0;
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-top: 150px;
    }

    .section img {
        position: relative;
        width: 80vw;
        bottom: 140px;
        right: auto;
        filter: grayscale(30%);
    }
}