.header {
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--navBackgroundColor);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

.header * {
    background-color: var(--navBackgroundColor);
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    width: 70vw;
}

@media only screen and (max-width: 1100px) and (min-width: 900px) {
    .nav{
        width: 100vw;
    }
}


@media only screen and (max-width: 900px) {
    .header {
        width: 100%;
        padding: 0;
        position: static;
    }

    .nav {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        padding: 10px 0 0 0;
    }
}