.flex{
    margin-top: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
}

@media screen and (max-width: 900px) {
    .flex{
        gap: 13vw;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}
