.dropdown {
    position: relative;
}

.dropdown button {
    background: transparent;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 500;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: none;
    cursor: pointer;
    text-shadow: 0 0 10px #fff;
    transition: text-shadow 0.1s ease-in-out;
}


.dropdown button:hover {
    text-shadow: 0 0 20px #fff;
}


.dropdown a:hover {
    color: var(--linkColor);
}

.dropdownContent {
    display: none;
    position: absolute;
    left: 2px;
    z-index: 999;
    width: max-content;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    height: 0;
    transition: height 0.2s ease-in-out;
    background: rgba(255,255,255,0.1);
}

.glow{
    position: absolute;
    top: 50%;
    transform: translateY(-52%);
    left: 0;
    height: 98%;
    width: 2px;
    border-radius: 10px;
    background: rgba(255,255,255);
    box-shadow: 0 0 20px 2px white;
    z-index: 100000;
}

.dropdownContent a {
    padding: 4px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 22px;
}

.dropdownContent section {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 999;
}

.dropdownContent section:hover {
    background: rgba(255,255,255,0.01);
}

.dropdownContent svg, .dropdownContent img {
    width: 20px;
    height: 20px;
}

.dropdownContent a {
    display: block;
}

.dropdown:hover .dropdownContent {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: fit-content;
}

@media only screen and (max-width: 900px) {
    .dropdownContent section {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100vw;
        padding: 0 0 0 20px;
        position: static;
    }

    .glow{
        height: 100%;
        transform: translateY(-50%);
    }

    .dropdownContent {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        gap: 0;
        height: fit-content;
        position: static;
        transform: translate(0);
        box-shadow: none;
        border-radius: 0;
    }

    .dropdown {
        position: static;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
        flex-direction: column;
    }

    .dropdown a {
        font-size: 400px;
    }
}