.dropdown {
    position: relative;
}

.dropdown a, .dropdown button{
    text-decoration: none;
    color: #3d3d3d;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: none;
    cursor: pointer;
    background-color: #f7f7ff;
}


.dropdown a:hover, .dropdown button:hover {
    color: #0094FF;
}

.dropdownContent {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: max-content;
    border-radius: 20px;
    transform: translate(-35%);
}

.dropdownContent a {
    padding: 4px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContent section {
    padding: 8px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.dropdownContent svg {
    width: 30px;
    height: 30px;
}

.dropdownContent img {
    width: 30px;
    height: 30px;
}


.dropdownContent a {
    display: block;
}

.dropdown:hover .dropdownContent {
    display: block;
    animation: fadeIn 0.1s ease-in-out;
}