.dropdown {
    position: relative;
}

.dropdown button{
    background: transparent;
    transition: all 0.3s ease-in-out;
}
.dropdown button:hover {
    /*text starts glowing white*/
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}

.dropdown a, .dropdown button{
    text-decoration: none;
    color: var(--textColor);
    font-weight: 500;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: none;
    cursor: pointer;
}

.dropdown a:hover, .dropdown button:hover {
    color: var(--linkColor);
}

.dropdownContent {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: max-content;
    border-radius: 20px;
    transform: translate(-35%);
    background: var(--secondColor);
}

.dropdownContent a {
    padding: 4px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContent section {
    padding: 8px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.dropdownContent svg {
    width: 30px;
    height: 30px;
}

.dropdownContent img {
    width: 30px;
    height: 30px;
}


.dropdownContent a {
    display: block;
}

.dropdown:hover .dropdownContent {
    display: block;
    animation: fadeIn 0.1s ease-in-out;
}

@media only screen and (max-width: 900px) {
    .dropdownContent section{
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100vw;
        padding: 0 0 0 20px;
    }

    .dropdownContent{
        display: block;
        position: static;
        transform: translate(0);
        box-shadow: none;
    }

    .dropdown{
        position: static;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
        flex-direction: column;
    }

    .dropdown a{
        font-size: 400px;
    }

}