.relative {
    display: block;
    position: relative;
    left: 27vw;
}

.text {
    position: absolute;
    z-index: 99;
    background-color: #00152B;
    color: white;
    text-shadow: 0 0 10px #fff;
    width: 399px;
    height: 159px;
}

.obrazek {
    width: 387px;
    height: 372px;
    display: flex;
    position: absolute;
    z-index: 1;
}

.core {
    top: 80px;
    right: 600px;
    z-index: 2;
}

.nadpis {
    font-weight: bold;
    padding: 3px;
}