.relative{
    position: relative;
    left: 27vw;

}
.text{
    position: absolute;
    z-index: 9999;
    background-color: #00152B;
    color: white;
    text-shadow: 0 0 10px #fff;
    width: 399px;
    height: 159px;

    color: white;
}
.obrazek{
    width: 387px;
    height: 372px;
    display: flex;
    margin-right: 50vw;
    position: absolute;
    z-index: 1;
}
.core{
    position: absolute;
    top: 80px;
    right: 600px;
    z-index: 2;

}
.nadpis{
    font-weight: bold;
    padding: 3px;

}