.button {
    all: unset;
    cursor: pointer;
    color: var(--textColor);
    display: flex;
    align-items: center;
    padding: 6px;
    border: 2px solid var(--textColor);
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 45%;
    aspect-ratio: 1/1;
}