.searchSection {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
}

.borderForInput{
    border-radius: 14px;
    background: rgb(45,180,124);
    background: linear-gradient(0deg, rgba(45,180,124,1) 0%, rgba(36,128,189,1) 100%);
    background-repeat: no-repeat;
    padding: 4px;
    width: 400px;
}

.searchSection form{
    margin: 0;
}

.searchBar{
    margin-left: 20px;
}

.searchBar input {
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.25);
    height: 46px;
    padding-left: 40px;
    padding-right: 10px;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    color: #3d3d3d;
}

.searchBar input[type="search"]::-webkit-search-cancel-button{
    display: none;
}

.searchBar *:not(.borderForInput){
    background: #efeff6;
}

.searchBar input:focus {
    outline: none;
}

.searchBar label {
    position: relative;
}

.searchBar button {
    position: absolute;
    top: -7px;
    left: 4px;
    background-color: transparent;
    border: none;
}

.results{
    position: absolute;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: #efeff6;
    list-style-type: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    overflow: hidden;
    top: 44px;
}

.results *{
    color: #3d3d3d;
    background-color: #efeff6;
}

@media only screen and (max-width: 1000px) {
    .searchSection {
        width: 100%;
        margin: 0 auto;
    }

    .searchSection form {
        width: 100%;
    }

    .searchBar {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .searchBar input {
        width: 100%;
        max-width: 100000px;
        box-shadow: none;
    }

    .searchBar div {
        width: 96%;
    }
}