.searchSection {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
}

.searchSection form {
    margin: 0;
}

.searchBar {
    margin-left: 20px;
}

.searchBar input {
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.25);
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    font-weight: 500;
    width: 400px;
    background: rgba(0,22,46,0.5);
    color: var(--textColor);
    transition: background-color 0.3s ease-in-out;
}

.searchBar input[type="search"]::-webkit-search-decoration,
.searchBar input[type="search"]::-webkit-search-cancel-button,
.searchBar input[type="search"]::-webkit-search-results-button,
.searchBar input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.searchBar input[type="search"]:focus {
    outline: var(--secondColor) solid 3px;
    background: rgba(0,22,46,0.8);
}

.searchBar input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.searchBar input:focus {
    outline: none;
}

.searchBar label {
    position: relative;
}

.searchBar button {
    position: absolute;
    top: -7px;
    left: 4px;
    background-color: transparent;
    border: none;
}

.results {
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 999;
    border-radius: 10px;
    background: var(--darkerBackgroundColor);
    list-style-type: none;
    padding: 10px;
}

@media only screen and (max-width: 1000px) {
    .searchSection {
        width: 100%;
        margin: 0 auto;
    }

    .searchSection form {
        width: 100%;
    }

    .searchBar {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .searchBar input {
        width: 94vw;
        max-width: 100000px;
        box-shadow: none;
        margin: 0;
    }

    .searchBar div {
        width: 100%;
    }
}